.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    font-family: 'Proxima Nova Rg';
}



.container {
    width: 100%;
    max-width: 1127px;
    overflow: auto;
    margin: 0 auto;
}
header {
    background: #323941;
}

.header-menu {
    overflow: hidden;
}
.header-menu ul {
    overflow: hidden;
    
}

.header-menu ul li{
    float: left;
    padding: 13px 12px;
}

.header-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    padding: 13px 12px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.header-menu li a:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.container .basket {
    float: right;
    padding: 11px 0px;
    text-align: center;
}
.container .inst {
    float: right;
    padding: 13px 0px 13px 24px;
    text-decoration: none;
    color: white;
}
.container .tel {
    float: right;
    text-decoration: none;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 13px 14px;
}

.container address {
    overflow: hidden;
}



#main-block .logo {
    padding: 18px 24px;
    float: left;
}

#main-block .director {
    float: right;
    padding: 25px 61px 30px 13px; 
}
.direcrot .question {
    font-weight: 400;
    font-size: 13px;
    line-height: 119.3%;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #009EFF;
}
.director .question:hover {
    text-decoration: none;
    color: #323941;
}
.director p {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 119.3%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #323941;
}

.container .foto_dir {
    float: right;
    padding: 20px 0px;
}
.background {
    background: #323941;
}


.catalog figure {
    float: left;
    padding: 9px 13px 14px 13px;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    min-height: 130px;
    min-width: 130px;
}

.catalog figure a{
    color: #84888d;
    padding: 70px 28px 34px 28px;
}

.catalog figure a:hover {
    background:#009EFF ;
    
}
.line {
    background: #464f5a;
height: 1px;
width: 100%;
}


.free_back {
    background: #009EFF;
}
.free {
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0px;
    color: white;
}

.instock {
    float: left;
    padding: 45px 0px 10px;
}

h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 87.3%;
    text-transform: uppercase;
    float: left;
    width: 567px;
}

.main .s {
    float: right;
}

.instock img {
    padding-bottom: 11px;
}
.form {
    float: left;
    border: 2px solid #999999;
    padding: 20px;
    width: 504px;
    margin-bottom: 20px;
}

.form h3{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
}
.form button {
    padding-right: 8px;
    width: 160px;
    height: 36px;
    margin-right: 8px;
    float: left;
}
.form button:hover {
    background: #009EFF;
    color: white;
}

.price {
    width: 500px;
    position: relative;

}
.price ul{
    width: 134px;
    float: left;
}
.price .price1 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: line-through;
    color: #323941;
    margin-top: 30px;
    width: 74px;
}
.price .price2{
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #323941;
    width: 131px;
    margin-bottom: 27px;
}
.price .center {
    float: right;
    margin-top: 20px;
}
.center p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #009EFF;
    width: 154px;
    position: absolute;
    right: 171px;
    bottom: 38px;
}
.form .price {
    float: left;
}

.form_button {
    float: left;
}
.form_button button {
    width: 240px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 700;
}
.form_button button:hover {
    background: #009EFF;
    color: white;
}

.payment {
    position: relative;
}
.payment li{
    float: left;
}
.payment .payment_methods {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding-right: 15px;
}
.payment .payment_start {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #009EFF;
}
.payment li img {
    padding-top: 4px;
}
.payment .payment_now {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #6ACD68;
}

