.fl {
    float: left;
}

.fr {
    float: right;
}

body {
    font-family: 'Proxima Nova Rg';
}

.container {
    width: 100%;
    max-width: 1024px;
    overflow: auto;
    margin: 0 auto;
    background: #4783c7;
}



.header-menu li{
    text-transform: uppercase;
    float: left;
    padding: 13px 24px 13px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.header-menu li a {
    color: white;
    text-decoration: none;
}

.container .basket {
    float: right;
    padding: 11px 0px;
    text-align: center;
}
.container .adr {
    float: right;
    padding: 13px 0px 13px 24px;
    text-decoration: none;
    color: white;
}



#main-block .logo {
    padding: 18px 0px;
    float: left;
}

#main-block .director {
    float: right;
    padding: 25px 20px 30px 13px; 

}

.container .foto_dir {
    float: right;
    padding: 20px 0px;
}
.catalog .catalog1 {
    background: #323941;
    text-align: center;
    padding: 9px 293px 14px 267px;
}

.catalog .line {
    background: #464f5a;
height: 1px;
width: 100%;
}

.catalog .catalog2{
    background: #323941;
    text-align: center;
    padding: 9px 293px 14px 267px;
}

.free {
    background: #009EFF;
    text-transform: uppercase;
    text-align: center;
    padding: 12px;
    color: white;
    font-family: 'Proxima Nova Rg';
}

