@media (max-width: 1024px) {
    .header-menu ul li {
        padding: 13px 1px;
    }

    .catalog figure {
        padding: 13px 7px 14px 8px;
        min-width: 124px;
    }

    .catalog_figure {
        padding: 13px 13px 14px 10px;
    }

    .instock img {
        padding-left: 15px;
    }

    h1 {
        padding-left: 15px;
    }

    .nav {
        flex-wrap: nowrap;
    }

    .in_tabs img {
        width: 251px;
    }

    .in_tabs .tabs_eart {
        width: 361px;
    }

    .tabs button svg {
        margin-right: 16px;
    }

    .ellipseblue {
        width: 400px;
        padding-top: 15px
    }

    .benefits {
        right: 0px;
        width: 400px;
        top: 30px;
    }

    .video h2 {
        padding-left: 15px;
    }

    .video iframe {
        padding-left: 15px;
    }

    .absolute3 {
        right: 91px;
    }

    .absolute6 {
        left: 80px;
    }

    .absolute7 {
        top: 2px;
        left: 107px
    }
    .card-text {
        min-height: 80px;
    }
    
}    



@media (max-width: 980px) {
            .adaptive980 {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .header__button {
                padding: 15px;
                background: none;
                border: none;
                width: 80px;
                height: 52px;
                display: block;
                
            }
            .header__button img {
                max-width: 20px ;
            }

            .header__dropdawn-menu {
                display: none;
            }
            .header__dropdawn-menu {
                position: absolute;
                top: 51px;
                left: 0px;
                border: 1px solid #009eff;
                text-align: center;
                background-color: #009eff;
                z-index: 10;
            }
    
            .header-menu ul li {
                float: none;
            }
    
            .header__button:active {
                background: #009eff;
            }
    
            .header__button:hover .header__dropdawn-menu {
                display: block;
            }
            .carousel_none{
                display: none;
            }
            #main-block .carousel_mobile {
                display: block;
            }
            .carousel_mobile {
                background:#323941;
            }
            .catalog figcaption {
                text-shadow: 0px 1px 3px rgba(255, 255, 255, 1);
            }
            .wrapper__img img {
                width: 400px;
                padding-top: 43px;
            }
        }
    
    
        @media (max-width: 768px) {

        .header__dropdawn-menu {
            position: absolute;
            top: 51px;
            left: 0px;
            border: 1px solid #009eff;
            text-align: center;
            background-color: #009eff;
        }

        .header-menu ul li {
            float: none;
        }

        .header__button:active {
            background: #009eff;
        }

        .header__button:hover .header__dropdawn-menu {
            display: block;
        }

        .carousel_none {
            display: none;
        }

        .carousel_mobile .catalog {
            max-width: 120px;
        }
        h1 {
            font-size: 58px;
            text-align: center;
            padding-left: 0px;
        }
        .wrapper {
            align-items: center;
        }
        .wrapper_img {
            display: none;
        }
        .main {
            flex-direction: column;
            align-items: center;
        }
        .wrapper__item1 {
            text-align: center;
        }
        .wrapper_img_mobile {
            width: 400px
        }
        .benefits {
            right: 185px;
            width: 400px;
            bottom: 0px;
            top: auto;
        }
        .flex {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .flex h2 {
            text-align: center;
        }
        .card_price p {
            min-height: 110px;
        }
        .card_price h5 {
            min-height: 70px;
        }
        .card-body .price3 {
            min-height: auto;
        }
        .absolute3 {
            right: 50px;
        }
        .absolute6 {
            left: 43px;
        }
        .absolute7 {
            left: 70px;
        }

        
    }    


        