@media (max-width: 1024px) {
    .header-menu ul li {
        padding: 13px 1px;
    }

    .catalog figure {
        padding: 13px 7px 14px 8px;
        min-width: 124px;
    }

    .catalog_figure {
        padding: 13px 13px 14px 10px;
    }

    .instock img {
        padding-left: 15px;
    }

    h1 {
        padding-left: 15px;
    }

    .nav {
        flex-wrap: nowrap;
    }

    .in_tabs img {
        width: 251px;
    }

    .in_tabs .tabs_eart {
        width: 361px;
    }

    .tabs button svg {
        margin-right: 16px;
    }

    .ellipseblue {
        width: 400px;
        padding-top: 15px
    }

    .benefits {
        right: 0px;
        width: 400px;
        top: 30px;
    }

    .video h2 {
        padding-left: 15px;
    }

    .video iframe {
        padding-left: 15px;
    }

    .absolute3 {
        right: 91px;
    }

    .absolute6 {
        left: 80px;
    }

    .absolute7 {
        top: 2px;
        left: 107px
    }
    .card-text {
        min-height: 80px;
    }
    
}    



@media (max-width: 980px) {
            .adaptive980 {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .header__button {
                padding: 15px;
                background: none;
                border: none;
                width: 80px;
                height: 52px;
                display: block;
                
            }
            .header__button img {
                max-width: 20px ;
            }

            .header__dropdawn-menu {
                display: none;
            }
            .header__dropdawn-menu {
                position: absolute;
                top: 51px;
                left: 0px;
                border: 1px solid #009eff;
                text-align: center;
                background-color: #009eff;
                z-index: 10;
            }
    
            .header-menu ul li {
                float: none;
            }
    
            .header__button:active {
                background: #009eff;
            }
    
            .header__button:hover .header__dropdawn-menu {
                display: block;
            }
            .carousel_none{
                display: none;
            }
            #main-block .carousel_mobile {
                display: block;
            }
            .carousel_mobile {
                background:#323941;
            }
            .catalog figcaption {
                text-shadow: 0px 1px 3px rgba(255, 255, 255, 1);
            }
            .wrapper__img img {
                width: 400px;
                padding-top: 43px;
            }
        }
    
    
@media (max-width: 768px) {

        .header__dropdawn-menu {
            position: absolute;
            top: 51px;
            left: 0px;
            border: 1px solid #009eff;
            text-align: center;
            background-color: #009eff;
        }

        .header-menu ul li {
            float: none;
        }

        .header__button:active {
            background: #009eff;
        }

        .header__button:hover .header__dropdawn-menu {
            display: block;
        }

        .carousel_none {
            display: none;
        }

        .carousel_mobile .catalog {
            max-width: 120px;
        }
        h1 {
            font-size: 58px;
            text-align: center;
            padding-left: 0px;
        }
        .wrapper {
            align-items: center;
        }
        .wrapper_img {
            display: none;
        }
        .main {
            flex-direction: column;
            align-items: center;
        }
        .wrapper__item1 {
            text-align: center;
        }
        .wrapper_img_mobile {
            width: 400px;
            display: block;
            
        }
        .benefits {
            right: 185px;
            width: 400px;
            bottom: 0px;
            top: auto;
        }
        .flex {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }
        .flex h2 {
            text-align: center;
        }
        .card_price p {
            min-height: 110px;
        }
        .card_price h5 {
            min-height: 70px;
        }
        .card-body .price3 {
            min-height: auto;
        }
        .absolute3 {
            right: 50px;
        }
        .absolute6 {
            left: 43px;
        }
        .absolute7 {
            left: 70px;
        }
    }



@media (max-width: 425px) {
    .tel {
        display: none;
    }
    .inst {
        display: none;
    }
    .basket {
        display: none;
    }
    .tel_mobile {
        display: block;
    }
    .insta_mobile {
        display: block;
    }
    .bascet_mobile {
        display: block;
    }
    .mobile_icons {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }
    .logo_mobile {
        display: block;
    }
    header {
        background: none;
    }
    .header_icons_flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .tel_mobile, .bascet_mobile {
        padding: 0px 4px;
        width: 31px;
    }
    .insta_mobile {
        padding: 0px 4px;
        width: 28px;
    }
    .mobile_none {
        display: none;
    }
    h1 {
        font-size: 33px;
        max-width: 300px;
    }
    .wrapper_img_mobile {
        display: block;
        max-width: 380px;
    }
    .wrapper_img_mobile .s {
        max-width: 370px;
    }
    .form_button-2 a {
        padding: 7px 20px;
        max-width: 300px ;
    }
    .form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
    }
    .price {
        justify-content: space-evenly;
    }
    .center {
        display: none;
    }
    .form_button {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        
    }
    .form .form_button-1{
        height: 50px;
    }
    .form_button-2 {
        max-width: 150px;
    }
    .form-2 {
        max-width: 500px;
        width: 100%;
    }
    .form h3 {
        text-align: center;
    }
    .payment, .payments {
        max-width: 380px;
        height: auto;
    }
    .tabs span {
        display: none;
    }
    .in_tabs {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video h2 {
        padding-left: 0px;
    }
    .video iframe {
        max-width: 400px;
        padding-left: 0px;
    }
    .ellipseblue {
        max-width: 350px;
    }
    .benefits {
        max-width: 380px;
        right: 24px;
        bottom: -10px;
    }
    .card {
        max-width: 380px;
    }
    .card_price p {
        min-height: 65px;
    }
    .absolute3 {
        right: 132px;
    }
    .absolute6 {
        left: 122px;
    }
    .absolute7 {
        left: 149px;
    }
    .foto_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 375px) {
        .wrapper_img_mobile {
        max-width: 375px;
    }
    .form {
        max-width: 375px;
    }
    .payment {
        max-width: 370px;
    }
    .payments {
        max-width: 370px;
    }
    .video iframe {
        max-width: 375px;
    }
    .benefits {
        max-width: 320px;
        right: 27px;
    }
    .ellipseblue {
        max-width: 300px;
    }
    .absolute3 {
        right: 116px;
    }
    .absolute6 {
        left: 110px;
    }
    .absolute7 {
        left: 135px;
    }
    .foto_card_back h2 {
        font-size: 40px;
    }
}

@media (max-width: 320px) {
    .wrapper_img_mobile {
        max-width: 320px;
    }
    .wrapper_img_mobile .s {
        max-width: 320px;
    }
    .form {
        max-width: 320px;
    }
    .form_button-2 {
        max-width: 131px;
    }
    .payment {
        max-width: 310px;
    }
    .payments {
        max-width: 310px;
    }
    .h_access {
        font-size: 40px;
    }
    .button3_tabs {
        width: 70px;
    }
    .flex {
        max-width: 320px;
    }
    .video h2 {
        font-size: 39px;
        max-width: 320px;
    }
    .video iframe {
        max-width: 320px;
    }
    .benefits {
        right: 1px;
    }
    .absolute3 {
        right: 90px;
    }
    .absolute6 {
        left: 80px;
    }
    .absolute7 {
        left: 109px;
    }
    .in_tabs .tabs_eart {
        width: 320px;
    }
}

